<div class="container my-5">
  <h2 class="my-5">Task 1</h2>
  <button
    type="button"
    class="btn text-white"
    *ngIf="btnVisibility"
    (click)="getUsers()"
  >
    Load Info
  </button>

  <div class="row justify-content-between m-5">
    <h4 class="my-3 text-capitalize">{{ userData | userNmes }}</h4>
    <div
      class="col-md-4 col-12 my-3 mx-3 rounded"
      *ngFor="let user of userData"
      [ngClass]="backgroundStyles(user.status)"
      [appSetBackground]="color"
    >
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-black text-capitalize">
          {{ user.firstName }} {{ user.lastName }}
        </h6>
        <p class="card-text text-capitalize">{{ user.about }}</p>
        <p class="card-text">{{ user.birthDate | age }}</p>
        <span
          class="badge px-3 py-2 text-capitalize border border-2"
          [ngClass]="backgroundStyles(user.status)"
          >{{ user.status }}</span
        >
      </div>
    </div>
  </div>
</div>
