.bg-deleted {
  background-color: rgb(248, 105, 105);
}

.bg-active {
  background-color: rgb(0, 173, 145);
}

.bg-inactive {
  background-color: rgb(146, 146, 231);
}

.btn {
  background-color: rgb(146, 146, 231);
}